In [7]:
import pandas as pd
df = pd.read_csv('pr.csv')
df.head(1)

   area locality     price    0  center  old  station
0   550  station  12000000  0.0     0.0  0.0      1.0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   area      13 non-null     int64
 1   locality  13 non-null     object
 2   price     13 non-null     object
 3   0         12 non-null     float64
 4   center    12 non-null     float64
 5   old       12 non-null     float64
 6   station   12 non-null     float64
dtypes: float64(4), int64(1), object(2)
memory usage: 860.0+ bytes

In [8]:
# dummy
# one hot encoding

In [9]:
dummy = pd.get_dummies(df.locality)
dummy

    center    old  station
0    False  False     True
1     True  False    False
2    False   True    False
3    False  False     True
4     True  False    False
5     True  False    False
6    False   True    False
7     True  False    False
8    False  False     True
9    False   True    False
10    True  False    False
11   False  False     True
12    True  False    False

In [11]:
dummy.to_csv("dummy.csv")

In [13]:
merged = pd.concat([df, dummy], axis = 'columns')
merged

    area locality     price    0  center  old  station  center    old  station
0    550  station  12000000  0.0     0.0  0.0      1.0   False  False     True
1    600   center  12000000  0.0     1.0  0.0      0.0    True  False    False
2    650      old  14000000  0.0     0.0  1.0      0.0   False   True    False
3   1200  station  24000000  0.0     0.0  0.0      1.0   False  False     True
4   1250   center  30000000  0.0     1.0  0.0      0.0    True  False    False
5    800   center  20000000  0.0     1.0  0.0      0.0    True  False    False
6    700      old  14500000  0.0     0.0  1.0      0.0   False   True    False
7    750   center  17000000  0.0     1.0  0.0      0.0    True  False    False
8    825  station  20000000  0.0     0.0  0.0      1.0   False  False     True
9    900      old  19000000  0.0     0.0  1.0      0.0   False   True    False
10   950   center  20000000  0.0     1.0  0.0      0.0    True  False    False
11   950  station  22000000  0.0     0.0  0.0      1.0   False  False     True
12  1500   center   #VALUE!  NaN     NaN  NaN      NaN    True  False    False

In [16]:
a = merged.drop(['locality'], axis = 'columns')
a

    area     price    0  center  old  station  center    old  station
0    550  12000000  0.0     0.0  0.0      1.0   False  False     True
1    600  12000000  0.0     1.0  0.0      0.0    True  False    False
2    650  14000000  0.0     0.0  1.0      0.0   False   True    False
3   1200  24000000  0.0     0.0  0.0      1.0   False  False     True
4   1250  30000000  0.0     1.0  0.0      0.0    True  False    False
5    800  20000000  0.0     1.0  0.0      0.0    True  False    False
6    700  14500000  0.0     0.0  1.0      0.0   False   True    False
7    750  17000000  0.0     1.0  0.0      0.0    True  False    False
8    825  20000000  0.0     0.0  0.0      1.0   False  False     True
9    900  19000000  0.0     0.0  1.0      0.0   False   True    False
10   950  20000000  0.0     1.0  0.0      0.0    True  False    False
11   950  22000000  0.0     0.0  0.0      1.0   False  False     True
12  1500   #VALUE!  NaN     NaN  NaN      NaN    True  False    False

In [19]:
a.replace([True, False], [1, 0], inplace = True)
a

    area     price    0  center  old  station  center  old  station
0    550  12000000  0.0     0.0  0.0      1.0       0    0        1
1    600  12000000  0.0     1.0  0.0      0.0       1    0        0
2    650  14000000  0.0     0.0  1.0      0.0       0    1        0
3   1200  24000000  0.0     0.0  0.0      1.0       0    0        1
4   1250  30000000  0.0     1.0  0.0      0.0       1    0        0
5    800  20000000  0.0     1.0  0.0      0.0       1    0        0
6    700  14500000  0.0     0.0  1.0      0.0       0    1        0
7    750  17000000  0.0     1.0  0.0      0.0       1    0        0
8    825  20000000  0.0     0.0  0.0      1.0       0    0        1
9    900  19000000  0.0     0.0  1.0      0.0       0    1        0
10   950  20000000  0.0     1.0  0.0      0.0       1    0        0
11   950  22000000  0.0     0.0  0.0      1.0       0    0        1
12  1500   #VALUE!  NaN     NaN  NaN      NaN       1    0        0

In [20]:
# One Hot Encoding

In [65]:
import pandas as pd
df = pd.read_csv('pr.csv')
df.head(1)

   area locality     price
0   550  station  12000000

In [66]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [67]:
le

LabelEncoder()

In [68]:
a = df

In [69]:
a.locality  = le.fit_transform(a.locality)

In [70]:
a

    area  locality     price
0    550         2  12000000
1    600         0  12000000
2    650         1  14000000
3   1200         2  24000000
4   1250         0  30000000
5    800         0  20000000
6    700         1  14500000
7    750         0  17000000
8    825         2  20000000
9    900         1  19000000
10   950         0  20000000
11   950         2  22000000

In [71]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [72]:
model

LinearRegression()

In [73]:
model.fit(a.drop('price', axis = 'columns'), a.price)

LinearRegression()

In [74]:
model.intercept_

-311710.3877873346

In [75]:
model.coef_

array([  22873.74978066, -305108.35234252])

In [76]:
model.predict([[1500, 2]])

C:\Users\dell\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([33388697.57852255])

In [77]:
a.to_csv('pri.csv')

In [78]:
model.predict([[1500, 0]])

C:\Users\dell\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([33998914.28320758])

In [ ]:
model.fit(a.price, a.drop(''))