# Regression

In [1]:
import pandas as pd
df = pd.read_csv('st.csv')
df.head()

   hours  score  eca  sleep  practice  grade
0      7     99  Yes      9         1     91
1      4     82   No      4         2     65
2      8     51  Yes      7         2     45
3      5     52  Yes      5         2     36
4      7     75   No      8         5     66

In [2]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [3]:
le

LabelEncoder()

In [4]:
a = df
a.eca=le.fit_transform(a.eca)
a

      hours  score  eca  sleep  practice  grade
0         7     99    1      9         1     91
1         4     82    0      4         2     65
2         8     51    1      7         2     45
3         5     52    1      5         2     36
4         7     75    0      8         5     66
...     ...    ...  ...    ...       ...    ...
9995      1     49    1      4         2     23
9996      7     64    1      8         5     58
9997      6     83    1      8         5     74
9998      9     97    1      7         0     95
9999      7     74    0      8         1     64

[10000 rows x 6 columns]

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x = a.drop('grade', axis = 'columns')

In [8]:
x

      hours  score  eca  sleep  practice
0         7     99    1      9         1
1         4     82    0      4         2
2         8     51    1      7         2
3         5     52    1      5         2
4         7     75    0      8         5
...     ...    ...  ...    ...       ...
9995      1     49    1      4         2
9996      7     64    1      8         5
9997      6     83    1      8         5
9998      9     97    1      7         0
9999      7     74    0      8         1

[10000 rows x 5 columns]

In [9]:
y = a['grade']

In [10]:
y

0       91
1       65
2       45
3       36
4       66
        ..
9995    23
9996    58
9997    74
9998    95
9999    64
Name: grade, Length: 10000, dtype: int64

In [25]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2)

In [26]:
x_train

      hours  score  eca  sleep  practice
7582      6     71    0      5         1
9385      6     89    0      4         5
7745      4     98    1      4         6
160       2     45    1      4         3
3231      6     70    0      7         3
...     ...    ...  ...    ...       ...
5059      9     71    1      5         0
4611      9     53    0      5         1
1822      2     55    1      4         4
9206      1     85    1      6         9
5471      7     57    0      9         8

[8000 rows x 5 columns]

In [27]:
x_test

      hours  score  eca  sleep  practice
4315      4     88    1      9         7
2926      8     90    0      5         4
3916      6     56    1      4         8
3619      6     90    0      4         0
6914      5     82    1      4         7
...     ...    ...  ...    ...       ...
2296      8     99    0      9         6
8292      6     42    0      8         1
9933      5     77    0      5         6
1643      8     53    0      7         5
1333      8     81    0      6         8

[2000 rows x 5 columns]

In [28]:
y_train

7582    57
9385    78
7745    84
160     18
3231    57
        ..
5059    67
4611    46
1822    34
9206    62
5471    49
Name: grade, Length: 8000, dtype: int64

In [29]:
y_test

4315    73
2926    83
3916    44
3619    77
6914    67
        ..
2296    98
8292    30
9933    65
1643    45
1333    75
Name: grade, Length: 2000, dtype: int64

In [30]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [31]:
model

LinearRegression()

In [32]:
model.fit(x_train, y_train)

LinearRegression()

In [33]:
y_pred = model.predict(x_test)

In [39]:
y_pred

array([73.27248955, 83.57603093, 44.13309704, ..., 62.16110727,
       47.05155764, 75.67261058])

In [43]:
df1 = pd.DataFrame({'Original': y_test, 'Predicted': y_pred})

In [44]:
df1

      Original  Predicted
4315        73  73.272490
2926        83  83.576031
3916        44  44.133097
3619        77  76.604023
6914        67  67.573604
...        ...        ...
2296        98  95.085406
8292        30  29.848810
9933        65  62.161107
1643        45  47.051558
1333        75  75.672611

[2000 rows x 2 columns]

In [35]:
#Training Score
model.score(x_train, y_train)

0.988843932796868

In [36]:
#Test Score
model.score(x_test, y_test)

0.9883671752110705

In [45]:
import sklearn.metrics as metrics
metrics.mean_squared_error(y_test, y_pred)

4.213085641325712

In [46]:
print("Mean Squared Error: ")
metrics.mean_squared_error(y_test, y_pred)

Mean Squared Error:

4.213085641325712

In [47]:
metrics.mean_absolute_error(y_test, y_pred)

1.6379046483807655

In [49]:
import numpy as np
print('root mean squared error: ')
np.sqrt(metrics.mean_squared_error(y_test, y_pred))

root mean squared error:

2.0525802399238167

In [51]:
metrics.r2_score(y_test, y_pred)

0.9883671752110705

In [53]:
metrics.r2_score(y_pred, y_test)

0.9882692199885937