In [3]:
import pandas as pd
df = pd.read_csv('loan.csv')
df

,age,gender,occupation,education_level,marital_status,income,credit_score,loan_status
0,32,Male,Engineer,Bachelor's,Married,85000,720,Approved
1,45,Female,Teacher,Master's,Single,62000,680,Approved
2,28,Male,Student,High School,Single,25000,590,Denied
3,51,Female,Manager,Bachelor's,Married,105000,780,Approved
4,36,Male,Accountant,Bachelor's,Married,75000,710,Approved
...,...,...,...,...,...,...,...,...
56,39,Male,Architect,Master's,Married,100000,770,Approved
57,25,Female,Receptionist,High School,Single,32000,570,Denied
58,43,Male,Banker,Bachelor's,Married,95000,760,Approved
59,30,Female,Writer,Master's,Single,55000,650,Approved
60,38,Male,Chef,Associate's,Married,65000,700,Approved

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [5]:
# Encode categorical variables
label_encoders = {}
for column in ['gender', 'occupation', 'education_level', 'marital_status', 'loan_status']:
    label_encoders[column] = LabelEncoder()
    df[column] = label_encoders[column].fit_transform(df[column])

In [6]:
# Define features and target variable
x = df.drop('loan_status', axis = "columns")
y = df['loan_status']

In [7]:
# Split the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=42)

In [8]:
# Build the model
model = LogisticRegression()
model.fit(x_train, y_train)

LogisticRegression()

In [9]:
# Make Prediction
y_pred = model.predict(x_test)

In [10]:
y_pred

array([0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0])

In [11]:
# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)

In [12]:
accuracy

1.0

In [14]:
print(f'Accuracy: {accuracy}')

Accuracy: 1.0