In [1]:
import pandas  as pd

In [2]:
df = pd.read_csv('loan.csv')

In [3]:
df

,age,gender,occupation,education_level,marital_status,income,credit_score,loan_status
0,32,Male,Engineer,Bachelor's,Married,85000,720,Approved
1,45,Female,Teacher,Master's,Single,62000,680,Approved
2,28,Male,Student,High School,Single,25000,590,Denied
3,51,Female,Manager,Bachelor's,Married,105000,780,Approved
4,36,Male,Accountant,Bachelor's,Married,75000,710,Approved
...,...,...,...,...,...,...,...,...
56,39,Male,Architect,Master's,Married,100000,770,Approved
57,25,Female,Receptionist,High School,Single,32000,570,Denied
58,43,Male,Banker,Bachelor's,Married,95000,760,Approved
59,30,Female,Writer,Master's,Single,55000,650,Approved
60,38,Male,Chef,Associate's,Married,65000,700,Approved

In [4]:
from sklearn.preprocessing import LabelEncoder
le_gender = LabelEncoder()
le_occupation = LabelEncoder()
le_education_level = LabelEncoder()
le_marital_status =  LabelEncoder()
le_loan_status = LabelEncoder()

In [5]:
df['gender'] = le_gender.fit_transform(df['gender'])
df['occupation'] = le_occupation.fit_transform(df['occupation'])
df['education_level'] = le_education_level.fit_transform(df['education_level'])
df['marital_status'] = le_marital_status.fit_transform(df['marital_status'])
df['loan_status'] = le_loan_status.fit_transform(df['loan_status'])

In [6]:
df

,age,gender,occupation,education_level,marital_status,income,credit_score,loan_status
0,32,1,12,1,0,85000,720,0
1,45,0,35,4,1,62000,680,0
2,28,1,33,3,1,25000,590,1
3,51,0,16,1,0,105000,780,0
4,36,1,0,1,0,75000,710,0
...,...,...,...,...,...,...,...,...
56,39,1,2,4,0,100000,770,0
57,25,0,27,3,1,32000,570,1
58,43,1,4,1,0,95000,760,0
59,30,0,37,4,1,55000,650,0
60,38,1,5,0,0,65000,700,0

In [7]:
# x = df[['age','gender',	'occupation',	'education_level'	,'marital_status',	'income'	,'credit_score']].
# y = df[['loan_status']]
# above method is for kids

x = df.drop('loan_status', axis = 'columns')
y = df.loan_status

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2)

In [9]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model

DecisionTreeClassifier()

In [10]:
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [14]:
model.predict([[27,1,33,1,1,50000,800]])

C:\Users\dell\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1])

In [15]:
y_pred = model.predict(x_test)
y_pred

array([1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0])

In [16]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred)

1.0