In [1]:
import pandas as pd
from sklearn import linear_model

In [2]:
df = pd.read_csv('price.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area (sq ft)  11 non-null     int64
 1   price         11 non-null     int64
dtypes: int64(2)
memory usage: 308.0 bytes

In [4]:
df.describe()

       area (sq ft)         price
count     11.000000  1.100000e+01
mean     854.545455  2.609091e+06
std      260.244640  1.220209e+06
min      550.000000  1.000000e+06
25%      675.000000  1.750000e+06
50%      800.000000  2.500000e+06
75%      950.000000  3.250000e+06
max     1400.000000  5.000000e+06

In [5]:
df

    area (sq ft)    price
0            550  1000000
1            600  1200000
2            650  1500000
3            700  2000000
4            750  2300000
5            800  2500000
6            850  2700000
7            900  3000000
8           1000  3500000
9           1200  4000000
10          1400  5000000

In [6]:
df.head()

   area (sq ft)    price
0           550  1000000
1           600  1200000
2           650  1500000
3           700  2000000
4           750  2300000

In [7]:
df.tail()

    area (sq ft)    price
6            850  2700000
7            900  3000000
8           1000  3500000
9           1200  4000000
10          1400  5000000

# MODEL BUILD

In [8]:
model = linear_model.LinearRegression()

In [9]:
model

LinearRegression()

In [10]:
# Train model

In [11]:
model.fit(df[['area (sq ft)']], df.price)

LinearRegression()

In [12]:
model.predict([[1500]])

C:\Users\dell\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([5601140.93959732])

In [13]:
model.coef_

array([4635.5704698])

In [14]:
model.intercept_

-1352214.7651006705

In [15]:
import pickle
with open('model_pickle', 'wb') as file:
    pickle.dump(model, file)

In [16]:
import joblib

In [18]:
joblib.dump(model, 'mj')

['mj']

In [ ]:
model1